<nav id="navbar-clone" class="navbar is-fixed">
    <div class="container">
        <div class="navbar-brand">
            <a href="index.html" class="navbar-item">
                <img src="assets/img/logo/logo-fs-color.svg" alt="">
            </a>
            <span class="navbar-burger burger" data-target="cloneNavbarMenu">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </div>
        <div id="cloneNavbarMenu" class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item">
                    <a class="is-centered-responsive" href="home.html">Demo</a>
                </div>
                <div class="navbar-item">
                    <a class="is-centered-responsive" href="https://docs.cssninja.io/nephos"
                        target="_blank">Docs</a>
                </div>
            </div>
        </div>
    </div>
</nav>

<nav class="navbar is-light">
    <div class="container">
        <div class="navbar-brand">
            <a href="index.html" class="navbar-item">
                <img src="assets/img/logo/logo-fs.svg" alt="">
            </a>
            <span class="navbar-burger burger" data-target="navbarMenu">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </div>
        <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item">
                    <a class="is-centered-responsive" href="#demos">Demo</a>
                </div>
                <div class="navbar-item">
                    <a class="is-centered-responsive" href="https://docs.cssninja.io/nephos"
                        target="_blank">Docs</a>
                </div>
            </div>
        </div>
    </div>
</nav>