<!-- Mobile mode navbar -->
<nav class="navbar mobile-navbar is-hidden-desktop is-hidden-tablet" aria-label="main navigation">
    <!-- Brand -->
    <div class="navbar-brand">
        <a class="navbar-item" href="home.html">
            <img src="assets/img/logo/nephos.svg" alt="">
        </a>

        <!-- Sidebar mode toggler icon -->
        <a id="sidebar-mode" class="navbar-item is-icon is-sidebar-toggler" href="javascript:void(0);">
            <i data-feather="sidebar"></i>
        </a>

        <!-- Mobile menu toggler icon -->
        <!-- <div class="navbar-burger">
            <span></span>
            <span></span>
            <span></span>
        </div> -->
    </div>
    <!-- Navbar mobile menu -->
    <div class="navbar-menu">
        <!-- Account -->
        <div class="navbar-item has-dropdown">
            <a href="account.html" class="navbar-link">
                <img id="mobile-avatar" src="http://via.placeholder.com/250x250" data-demo-src="assets/img/avatars/altvatar.png" alt="">
                <span id="mobile-username" class="is-heading">Welcome, Guest</span>
            </a>

            <!-- Mobile Dropdown -->
            <div class="navbar-dropdown">
                <a href="/" class="navbar-item">Home</a>
                <a href="cart-empty.html" class="navbar-item is-flex">
                    <span>Cart</span>
                    <!-- Number of items in Cart -->
                    <span id="mobile-cart-count" class="menu-badge">0</span>
                </a>
                <a href="/account.html" class="navbar-item">Account</a>
                <a href="/wishlists.html" class="navbar-item">Wishlists</a>
                <a href="/orders.html" class="navbar-item">Orders</a>
                <a id="mobile-login-link" href="authentication.html" class="navbar-item">Login</a>
                <a id="mobile-register-link" href="authentication.html" class="navbar-item">Register</a>
                <a id="mobile-logout-link" class="navbar-item is-hidden">Logout</a>
            </div>
        </div>

        <!-- More -->
        <div class="navbar-item has-dropdown">
            <a class="navbar-link">
                <i data-feather="grid"></i>
                <span class="is-heading">Categories</span>
            </a>

            <!-- Mobile Dropdown -->
            <div class="navbar-dropdown">
                <a href="products.html" class="navbar-item">House</a>
                <a href="products.html" class="navbar-item">Office</a>
                <a href="products.html" class="navbar-item">Kids</a>
                <a href="products.html" class="navbar-item">Kitchen</a>
                <a href="products.html" class="navbar-item">Accessories</a>
            </div>
        </div>
    </div>
</nav>
<!-- /Mobile mode navbar -->