<footer class="footer">
    <div class="container">
        
        <div class="columns has-text-centered spaced-boxes">

            <div class="column is-hidden-mobile"></div>

            <div class="column is-3">
                <h2 class="title-column-footer">Nuestra tienda</h2>
                <hr class="divider-footer is-responsive-centered"/>
                <ul id="fs-direccion">
                </ul>
            </div>

            <div class="column is-3">
                <h2 class="title-column-footer">Información Legal</h2>
                <hr class="divider-footer is-responsive-centered"/>

                <ul>
                    <li>
                        <a href="/politica-privacidad.html">Política de Privacidad</a>
                    </li>                     
                    <li>
                        <a href="/politica-cookies.html">Política de Cookies</a>
                    </li>                   
                </ul>                
            </div>

            <div class="column is-3">
                <h2 class="title-column-footer">Horario</h2>
                <hr class="divider-footer is-responsive-centered"/>
                <ul id="fs-horario">
                </ul>
                <ul id="fs-ip"></ul>
            </div>            

            <div class="column is-hidden-mobile"></div>
        </div>              
    </div>
</footer>